@import '../../scss';

.card {
  width: 100%;
  max-width: 600px;
}

.employee-form {
  padding: 30px;
  display: flex;
  justify-content: center;
}

@include media-mobile() {

  .employee-form {
  padding: 0;
  }
}

