@import '../../scss';

.filters-container {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.filters {
  display: flex;
  gap: 16px;
  align-items: center;
}

@include media-mobile() {

  .filters-container {
    display: block;
  }

  .reset-button {
    margin: 16px 0;
  }
}
